---
title: "FORWORD: Accelerating Formal Datapath Verification via Word-Level Sweeping"
collection: publications
permalink: /publication/forword-formal-datapath-verification
date: 2026-01-03
authors: "Ziyi Yang, Guangyu Hu, Xiaofeng Zhou, <strong>Mingkai Miao</strong>, Changyuan Yu, Wei Zhang, and Hongce Zhang"
venue: "DATE"
---
